.container {
    justify-content: center;
    text-align: center;
}

.wraper {
    width: 260px;
    justify-content: center;
    background-color: blue;
    border-radius: 16px;
    margin: 5% 0%;
}

.card {
    cursor: pointer;
    padding: 2% 0%;
}

img {
    justify-content: center;
    display: flex;
    width: 50%;
}

p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.btnWraper {
    justify-content: space-around;
    padding-bottom: 6%;
    margin-top: 7%;
}

.btnRename {
    min-width: 40px;
    padding: 2% 5%;
    background-color: darkkhaki;
    border-radius: 16px;
}

.btnRelease {
    min-width: 40px;
    padding: 5%;
    padding: 2% 5%;
    background-color: red;
    border-radius: 16px;
}